<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Chào mừng bạn đến với Teamobi - Đăng nhập, Đăng ký</title>
    <link rel="stylesheet" href="http://my.teamobi.com/app/view/css/template.css" type="text/css">
    <link rel="icon" href="http://my.teamobi.com/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://my.teamobi.com/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="ROR" href="http://my.teamobi.com/app/ror.xml">
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22738816-4']);
        _gaq.push(['_setDomainName', '.teamobi.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>

<body cz-shortcut-listen="true">
    <div class="body_body">
        <div class="left_top"></div>
        <div class="bg_top">
            <div class="right_top"></div>
        </div>
        <div class="body-content">

            <div id="top">
                <div class="link-more">
                    <div class="h" align="center">
                        <!--<div style="color: #032E58;margin-top:-8px;margin-bottom:4px;">
                        <center> <b>Mạng xã hội cho điện thoại di động</b></center> 
                        </div>-->
                        <div class="bg_tree"></div>
                        <div class="bg_noel"></div>

                        <div class="bg-content">

                            <form action="/api/auth/login" method="POST" name="login">
                                <input type="hidden" name="nav" value="" readonly="readonly">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><label for="user">Tên đăng nhập:</label></td>
                                            <td><input name="username" type="text" value=""></td>
                                        </tr>
                                        <tr>
                                            <td><label for="pass">Mật khẩu:</label></td>
                                            <td><input name="password" type="password" value="">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="center">
                                                <input type="checkbox" value="1" required="required"> Đồng ý <a
                                                    href="http://teamobi.com/dieukhoan.htm" target="_blank">điều khoản
                                                    sử dụng</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="submit" value="Đăng nhập" name="submit">Đăng nhập</button><br>
                                <div style="font-size:10px;">
                                    Nếu bạn chưa có tài khoản, vui lòng <a
                                        href="http://localhost:3000/api/users/sign-up">đăng ký</a>
                                </div>
                                <div style="font-size:10px;">
                                    Quên mật khẩu <a href="/api/auth/forgot-password">Quên mật khẩu?</a>
                                </div>
                            </form><br>
                        </div>
                    </div>
                    <br>
                </div><br>

            </div>

        </div>

        <div class="left_b_bottom">
            <div class="right_b_bottom">
                <div class="footer">
                    <div class="left_bottom"></div>
                    <div class="right_bottom"></div>
                </div>
            </div>
        </div>
        <div class="copyright">
        </div>
    </div>



</body>

</html>